@tailwind base;
@tailwind components;
@tailwind utilities;


.link-btn {
    background-color: rgb(75, 99, 255);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.link-btn:hover {
    background:  rgb(0, 28, 209);
}


.red-link-btn {
    background-color: rgb(254, 142, 122);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.red-link-btn:hover {
    background:  tomato;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 60px;
    border-radius: 15px;
    border: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;

}

form>label {
    text-align:start;
    padding-left: 5px;
    margin-bottom: 6px;
    font-weight: 500;
    color: rgb(74, 74, 74);
    font-size: 20px;
}

form>input {
    width: 100%;
    background: whitesmoke;
    border-radius: 15px;
    height: 45px;
    border: solid;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
    padding-left: 10px
}

form>textarea {
    width: 100%;
    background: whitesmoke;
    border-radius: 15px;
    border: solid;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
    padding: 10px;
}


form>select {
    width: 100%;
    background: whitesmoke;
    border-radius: 15px;
    height: 45px;
    border: solid;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
    padding-left: 10px;
    padding-right: 20px;
}

a {
    color: blue;
    font-weight: 600;
}

.search {
    background: whitesmoke;
    border: solid;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
    border-radius: 15px;
    height: 45px;
    width: 75%;
    padding-left: 15px;
}

.search-btn {
    width: 25%;
    background-color: rgb(75, 99, 255);
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (max-width:800px) {
    form {
        width: 90%;
    }
}


